.wt_center {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-align:center;
	width:100%;
}

*, p, h1, h2, h3, h4, h5, h6, ul, li {
    margin:unset;
    padding:unset;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

ul {
    list-style-type:none;
}

a {
    text-decoration:none;
    color:unset;
}

body {
    background:#160D1F;
    color:white;
    overflow-x:hidden;
}

.background_img {
    width:100%;
    position:absolute;
    z-index:-1;
}

.full_bg {
    height:100%;
    width:100%;
    position:fixed;
    z-index:-1;
}

/**Navigation**/
#m_nav {
    width:35px;
    height:30px;
    margin:30px 0 20px 20px;
    cursor:pointer;
    position:fixed;
    z-index:20;
    right:20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    opacity:1;
}

#m_nav_2 {
    width:35px;
    height:30px;
    margin:30px 0 20px 20px;
    cursor:pointer;
    position:fixed;
    z-index:20;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    opacity:0;
}

.bar {
    height:5px;
    width:100%;
    background:white;
    display:block;
    border-radius:10px;
    transition:0.3s ease-in-out;
}

#bar0 {
    transform:translateY(-4px);
}

#bar2 {
    transform:translateY(4px);
}

.change #bar0 {
    transform:translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    transform:translateY(-6px) rotateZ(45deg);
}

.change #bar1 {
    opacity:0;
}

#mobile_navigation {
    height:100vh;
    width:100%;
    position:fixed;
    z-index:10;
    transition:0.3s ease-in-out;
    background:#160D1F;
}

#mobile_navigation ul, #handmode {
    font-size:.9em;
    font-weight:bold;
    font-family:'Century Gothic';
}

#mobile_navigation ul {
    height:100%;
    width:80%;
    margin-left:10%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    transition:0.3s ease-in-out;
}

li {
    text-align:right;
    white-space: nowrap;
    width: 100%;
    transition: width .8s ease;
}

.m_nav_li {
    margin:25px 0;
    cursor:pointer;
    transition:.2s ease-in-out;
}

.hand {
    position:fixed;
    cursor:pointer;
}

.left_handed {
    bottom:20px;
    left:25px;
    color:#3C3444;
}

.right_handed {
    bottom:20px;
    right:25px;
    color:#3C3444;
}

.left_handed_css {
    width:0;
}

.m_nav_change {
    right:80% !important;
}

.active_hand {
    color:#7F738B;
}

#desktop_navigation {
    display:flex;
    justify-content:flex-end;
    position:fixed;
    width:100%;
    z-index:50;
}

#desktop_navigation ul {
    margin:10px 25px 10px 0;
}

.scroll_background {
    width:100%;
    height:100%;
    position:absolute;
    background:#160D1F;
    z-index:10;
}

.nav_li {
    display:inline-block;
    width:unset;
    margin:25px 20px 25px 20px;
    font-family:'Century Gothic';
    font-size:.9em;
    z-index:20;
    font-weight:bold;
    position:relative;
    cursor:pointer;
    transition:.2s ease-in-out;
}

.m_nav_li:hover, .nav_li:hover {
    color:#FF6152;
}

/**About Me**/
#about_container {
    height:100vh;
    width:100%;
}

.kenny, .who_am_i {
    font-family:'Cocogoose';
}

.kenny {
    font-size:10vw;
}

.kenny_description {
    font-family:'Cocogoose';
    margin-top:30px;
    font-size:.8em;
}

.down_arrow {
    height:30px;
    width:30px;
    cursor:pointer;
}

.who_am_i {
    letter-spacing:.1em;
    margin:25px 0;
}

.about_description {
    font-family:'Century Gothic';
    font-size:.9em;
    width:90%;
    margin-left:5%;
    line-height:2em;
}

#about_me_container {
    text-align:center;
    padding:75px 0;
    width:90%;
    margin-left:5%;
    border-top:1px dashed #aaa;
    border-bottom:1px dashed #aaa;
}

.skills_list {
    padding: 35px 0 10px 0;
}

.skills_list img {
    height:50px;
    display:inline-block;
    margin:10px;
}

/**Banners**/
#rugsusa_banner {background-image:url("../images/updated/rugsusareg.jpg");transition:0.5s ease-in-out;}
#mixhour_banner {background-image:url("../images/updated/mixhourlyreg.jpg");transition:0.5s ease-in-out;}
#konditori_banner {background-image:url("../images/updated/konditorireg.jpg");transition:0.5s ease-in-out;}
#fuyuramen_banner {background-image:url("../images/updated/fuyuramenreg.jpg");transition:0.5s ease-in-out;}
#weatherds_banner {background-image:url("../images/updated/weatherdsreg.jpg");transition:0.5s ease-in-out;}
#oldportfolio_banner {background-image:url("../images/updated/oldwebsitereg.jpg");border:1px solid #333;transition:0.5s ease-in-out;}

#rugsusa_banner.reg {background-image:url("../images/updated/rugsusa.jpg");}
#mixhour_banner.reg {background-image:url("../images/updated/mixhourly.jpg");}
#konditori_banner.reg {background-image:url("../images/updated/konditori.jpg");}
#fuyuramen_banner.reg {background-image:url("../images/updated/fuyuramen.jpg");}
#weatherds_banner.reg {background-image:url("../images/updated/weatherds.jpg");}
#oldportfolio_banner.reg {background-image:url("../images/updated/oldwebsite.jpg");border:1px solid #333;}

/**Titles**/
#rugsusa_title {color:#FF6152;}
#mixhour_title {color:#BC0C6A;}
#konditori_title {color:#1AE5B4;}
#fuyuramen_title {color:#0E8DAC;}
#weatherds_title {color:#89499D;}
#oldportfolio_title {color:#aaa;}


/**Work**/
#work_container {
    width:100%;
    padding-bottom:100px;
    margin-top:100px;
}

.work_item {
    width:80%;
    padding:50px 0;
    margin-left:10%;
    text-align:center;
    transition:0.75s ease-in-out;
    opacity:1;
}

.gone {
    opacity:0;
}

#weatherds {
    margin-bottom:unset;
}

.work_banner{
    width:100%;
    padding-top:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.work_title {
    font-family:'Sonder';
    margin:25px 0 7.5px 0;
    letter-spacing:.2em;
}

.work_description {
    font-family:'Verdana';
}

.work_position, .work_buttons {
    font-family:'Century Gothic';
    letter-spacing:.1em;
}

.work_description, .work_buttons {
    font-size:.8em;
}

.work_description {
    line-height:2.35em;
    color:#ccc;
}

.work_description p {
    margin:15px 0;
}

.work_buttons {
    display:flex;
    justify-content:center;
    font-weight:bold;
}

.work_content {
    vertical-align:top;
}

#rugsusa .work_buttons {color:#A82C20;}
#mixhour .work_buttons {color:#8E0850;}
#konditori .work_buttons {color:#117D63;}
#fuyuramen .work_buttons {color:#076177;}
#weatherds .work_buttons {color:#71218B;}
#oldportfolio .work_buttons {color:#666;}

.view_line {
    border-left:1px solid #aaa;
    margin:0 15px;
}

#rugsusa_banner:hover,
#mixhour_banner:hover,
#konditori_banner:hover,
#fuyuramen_banner:hover,
#mystiq_banner:hover,
#weatherds_banner:hover,
#oldportfolio_banner:hover {
    box-shadow:0 0 7px black;
}

#rugsusa a:hover {
    color:#FF6152;
}

#mixhour a:hover {
    color:#BC0C6A;
}

#konditori a:hover {
    color:#1AE5B4;
}

#fuyuramen a:hover {
    color:#0E8DAC;
}

#weatherds a:hover {
    color:#89499D;
}

#oldportfolio a:hover {
    color:#aaa;
}

.view_buttons {
    cursor:pointer;
    position:relative;
    overflow:hidden;
}

.cross_button {
    width:100%;
    height:1px;
    z-index:-1;
    position:absolute;
    top:50%;
    left:-100%;
}

.cross_button_right {
    width:100%;
    height:1px;
    z-index:-1;
    position:absolute;
    top:50%;
    right:-100%;
}

.vl_rugsusa .cross_button {
    background:#FF6152 !important;
}

.vl_mixhour .cross_button_right, .vc_mixhour .cross_button {
    background:#BC0C6A !important;
}

.vl_konditori .cross_button_right, .vc_konditori .cross_button {
    background:#1AE5B4 !important;
}

.vl_fuyuramen .cross_button_right, .vc_fuyuramen .cross_button {
    background:#0E8DAC !important;
}

.vl_weatherds .cross_button_right, .vc_weatherds .cross_button {
    background:#89499D !important;
}

.vl_oldportfolio .cross_button_right, .vc_oldportfolio .cross_button {
    background:#aaa !important;
}

/**Contact**/
#contact_container {
    width:100%;
    padding-bottom:100px;
    max-width:731px;
    margin:auto;
}

.contact_header_contain {
    width:80%;
    margin-left:10%;
}

.contact_descript {
    font-family:"Century Gothic";
    font-size:1em;
    margin:10px 0;
}

.contact_header {
    font-family:"Cocogoose";
}

textarea, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    padding:10px 0;
}

.form_inputs {
    display:block;
    width:80%;
    margin-left:10%;
    background:unset;
    border:unset;
    border-bottom:2px solid white;
    font-family:"Century Gothic";
    margin-top:15px;
}

.submit_button {
    background:white;
    color:black;
    font-size:.9em;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s ease-in-out;
    border:unset;
}

.submit_button:hover {
    background:#3C3444;
    color:white;
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

.social_buttons {
    margin:30px 0;
}

.social_buttons img {
    display:inline-block;
    height:35px;
    width:35px;
    margin:0 10px;
    transition:.2s ease-in-out;
}

@font-face { font-family: Sunday; src: url("../fonts/Sunday.ttf"); }
@font-face { font-family: Cocogoose; src: url("../fonts/Cocogoose.ttf"); }
@font-face { font-family: Sonder; src: url("../fonts/Sonder.otf"); }

.hidden {
    display:none;
    width:100%;
}

.m_nav_show {
    opacity:1 !important;
}

.m_nav_hide {
    opacity:0 !important;
}

.right_float {
    float:unset;
}

@media only screen and (min-width:576px) {
    .work_content, .work_banner {
        width:90%;
        margin-left:5%;
    }
    .work_banner {
        padding-top:50%;
    }
}

@media only screen and (min-width:750px) {
    .work_item {
        display:flex;
    }
    /* .work_description {
        width:90%;
    }
    .left_border {
        border:1px solid #333;
        border-left:unset;
    }
    .right_border {
        border:1px solid #333;
        border-right:unset;
    }
    #rugsusa.left_border, #mixhour.right_border, #konditori.left_border, #fuyuramen.right_border {
        border-bottom:unset;
    }
    #mixhour .work_description, #fuyuramen .work_description {
        margin-left:10%;
    } */
    #rugsusa, #mystiq, #weatherds, #fuyuramen {
        text-align:left;
    }
    #rugsusa .work_banner, #weatherds .work_banner, #fuyuramen .work_banner {
        margin-left:unset;
    }
    .wb_left {
        justify-content:flex-start;
    }
    .wb_right {
        justify-content:flex-end;
    }
    #mixhour, #konditori, #oldportfolio {
        flex-direction:row-reverse;
        text-align:right;
    }
    .reverse_text {
        margin-left:unset;
    }
    .view_live, .view_line, .view_code {
        display:inline-block;
    }
}

@media only screen and (min-width:800px) {
    .about_description {
        width:705px;
        margin:auto;
    }
}

@media only screen and (min-width:870px) {
    .work_banner {
        padding-top:307px;
    }
}

@media only screen and (max-width:991px) {
    #desktop_navigation {
        display:none;
    }
}

@media only screen and (min-width:992px) {
    #m_nav, #m_nav_2 {
        display:none;
    }
    #contact_contain {
        width:731px;
    }
    #mobile_navigation {
        display:none;
    }
    .skills_list_row {
        display:inline-block;
    }
}

@media only screen and (min-width:1265px) {
    .work_banner, .work_content {
        width:475px;
    }
    .work_item {
        justify-content:center;
    }
    .kenny {
        font-size:126.5px;
    }
}


/**Animations**/

.skill-logo {
    perspective: 150rem;
    -moz-perspective: 150rem;
    backface-visibility: hidden;
    transition: transform .5s ease-in-out;
}

.html {
    transform: rotateY(90deg);
}

.css {
    transform: rotateX(90deg);
}

.sass {
    transform: rotateY(-90deg);
}

.javascript {
    transform: rotateY(90deg);
}

.jquery {
    transform: rotateX(90deg);
}

.react {
    transform: rotateX(-90deg);
}

.photoshop {
    transform: rotateY(90deg);
}

.figma {
    transform: rotateX(-90deg);
}

.turnY {
    transform: rotateY(0deg);
}

.turnX {
    transform: rotateX(0deg);
}